.input-group {
	text-align: right;
	margin: 5%;
}

#jumbotron2 {
	text-align: center;
	background-color: dimgrey;
	color: white;
	font-family: 'Monoton', cursive;

}

#highScores {
	text-align: center;
	font-weight: bolder;

}

#authenticationElements {
	display: flex;
	justify-content: right;
	margin-right: 0;
}

#loginEmail {
	margin-right: 0.5%;
}

#loginPassword {
	margin-right: 1%;
	margin-left: 0.5%;
}

.panel-body {
	display: flex;
}

.powerups {
	display: flex;
	justify-content: center;
}

.powerups_body {
	display: inline-block;
	margin-top: 25px;
}

.powerups input {
	margin: 25px 12.5px 0px 12.5px;
}

.powerups_panel {
	border: none;
}

.block {
	height: 20px;
	width: 20px;
}


.mine_field {
	display: inline-flex;
	flex-wrap: wrap;
	text-align: center;
	margin: auto;
	margin-bottom: 25px;
	width: 180px;
	text-align: center;
}

#timerDisplay {
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	font-weight: bolder;
	padding-top: .5%;
	border: black solid 2px;
	border-radius: 5px;
	margin: auto;
	width: 150px;
	zoom: 1.5;
}

#lossModal {
	text-align: center;
}

#winModal {
	text-align: center;
}